*{
  margin:0;
  padding:0;
}
body{
  background-color: black;
  overflow-x: hidden;
}
h2 {
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:aqua;
  margin:20px 0 20px 0;
  text-decoration: underline;
}
.child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.picture {
  padding: 15px 15px;
}
.picture img {
  width: 300px;
  height: auto;
}
img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  border:1px solid gold;
}
@media (max-width: 320px) {
  .picture img {
    width: 100%;
  }
}

.footer{
  width:100%;
  height:20px;
  padding:10px 0 10px 0;
  bottom:0;
  background-color: darkturquoise;
}
.footer p{
  letter-spacing: 5px;
  color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bolder;
  font: size 24px;
  text-align: center;
}